<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="es">
<head><meta charset="UTF-8"><title>Login</title></head>
<body>
  <h1> Registro de vehiculos </h1>
  <h2> BIENVENIDO </h2>
  <h3>Iniciar Sesión</h3>
  <% if (error) { %><p style="color:red;"><%= error %></p><% } %>
  <form action="/auth/login" method="POST">
    <input name="usuario" placeholder="Usuario" required>
    <input name="contraseña" type="password" placeholder="Contraseña" required>
    <button>Entrar</button>
  </form>
</body>
</html>
