<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="/js/css/estilos.css">
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>

    <% if (error) { %>
      <p style="color:red;"><%= error %></p>
    <% } %>

    <form action="/auth/login" method="POST">
      <div class="user-box">
        <input name="usuario" type="text" required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input name="contraseña" type="password" required>
        <label>Password</label>
      </div>

      <button type="submit" class="submit-button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        INGRESAR
      </button>
    </form>
  </div>
</body>
</html>
